*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    margin: 30px;
    font-size: 55px;
}
.Cycle {
    width: 250px;
    height: 250px;
    border: 20px solid red;
    border-radius: 50%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: cycle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.square{
    width: 120px;
    height: 120px;
    border: 5px solid purple;
    position: absolute;
    animation-name: square;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes cycle{
      0%{border-color: yellowgreen; transform: scale(1); }
     20%{border-color: black; transform: scale(1.1); }
     40%{border-color: darkblue; transform: scale(1.2); }
     60%{border-color: pink; transform: scale(1.3); }
     80%{border-color: green; transform: scale(1.2); }
    100%{border-color: darkmagenta; transform: scale(1.1); }
}
 @keyframes square {   /* square round to clock wise */
    0%   {transform: rotate(0deg); }
    25%  { border-width: 10px; border-color: lightblue;}
    50%  { border-width: 15px; border-color: crimson;}
    75%  { border-width: 20px; border-color: lightgray;}
    100% { border-width: 5px; transform: rotate(360deg); }
 }