*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: Arial, sans-serif;
    background-color: lightblue;
    color: #555;
}
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;

}