*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    background-color: #f0f0f0;
}
.title{
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #333;
    padding-top: 10px ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
}
table{
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 10px;
}
th, td{
    border: 1px solid #0f0f0f;
    padding: 10px;
    text-align: left;
}
