<!DOCTYPE html>
<html lang="en">
<head>
   <title>Archana Dinesh Garg</title>
</head>
<body style="text-align:center" bgcolor="#947a9f">
   <h1 style="color:whitesmoke">Archana Dinesh Garg</h1>
   <img src="../asset/Big-Father/Archna/Archana.jpeg" alt="" width="250" border="2px">
   <img src="../asset/Big-Father/Archna/Jija ji.jpeg" alt="" width="250" border="2px">
   <img src="../asset/Big-Father/Archna/archna2.jpeg" alt="" width="250" border="2px">
   <h2><a href="../index.html">Home</a> | <a href="../component/archna children.html">Childran</a> </h2>
</body>
</html>