<!DOCTYPE html>
<html lang="en">
<head>
    <title>Brother Childran</title>
</head>
<body style="text-align: center" bgcolor="#1b6b63">
    <br>
    <h1 style="color:whitesmoke">Shikhar Pandey(Navam) & Shekhar Pandey(Nayan)</h1>
    <img src="../asset/big-Brother/Navam & Nayan/IMG20221206143105.jpg" alt="" width="600">
    <img src="../asset/big-Brother/Navam & Nayan/IMG20230124192718.jpg" alt="" width="600">
    <br>
    <br><br>
    <h3><a href="../component/Brother.html">Back</a> | <a href="../index.html">Home</a> </h3>  
</body>
</html>