<!DOCTYPE html>
<html lang="en">
<head>
   <title>Chhama Garg</title>
</head>
<body style="text-align: center" bgcolor="#e54f8b">
   <h1>Chhama Garg</h1>
   <br>
   <img src="../asset/Buaa-Fufa Ji/Chhama/1.jpeg" alt="Chhama Garg" width="150px">
   <img src="../asset/Buaa-Fufa Ji/Chhama/2.jpeg" alt="Chhama Garg" width="150px">
   <img src="../asset/Buaa-Fufa Ji/Chhama/3.jpeg" alt="Chhama Garg" width="150px">
   <img src="../asset/Buaa-Fufa Ji/Chhama/4.jpeg" alt="Chhama Garg" width="150px">
   <img src="../asset/Buaa-Fufa Ji/Chhama/5.jpeg" alt="Chhama Garg" width="150px">
   <img src="../asset/Buaa-Fufa Ji/Chhama/6.jpeg" alt="Chhama Garg" width="150px">
   <img src="../asset/Buaa-Fufa Ji/Chhama/7.jpeg" alt="Chhama Garg" width="150px">
   <img src="../asset/Buaa-Fufa Ji/Chhama/8.jpeg" alt="Chhama Garg" width="150px">
   <br> <br>
   <a href="../index.html">HOME</a>
</body>
</html>