<!DOCTYPE html>
<html lang="en">
<head>
   <title>Aarti Child</title>
</head>
<body style="text-align: center" bgcolor="#b64061">
    <br>
    <h1 style="color:whitesmoke">Advika Agnihotri(Duggu)</h1>
    <br>
    <img src="../asset/Gudiya-Jija ji/advika/1.jpeg" alt="" width="200px" border="2px">
    <img src="../asset/Gudiya-Jija ji/advika/2.jpeg" alt="" width="200px" border="2px">
    <img src="../asset/Gudiya-Jija ji/advika/3.jpeg" alt="" width="200px" border="2px">
    <img src="../asset/Gudiya-Jija ji/advika/4.jpeg" alt="" width="200px" border="2px">
    <img src="../asset/Gudiya-Jija ji/advika/5.jpeg" alt="" width="200px" border="2px">
    <br><br>
    <a href="../component/Sister.html">Back</a> | <a href="../index.html">Home</a>    
</body>
</html>