<!DOCTYPE html>
<html lang="en">
<head>
   <title>Satroopa Satendra Garg</title>
</head>
<body style="text-align:center" bgcolor="#abd1e5">
   <h1 style="color:whitesmoke">Satroopa Satendra Garg</h1>
   <img src="../asset/Big-Father/Satrupa/joint.jpeg" alt="" width="230" border="2px">
   <img src="../asset/Big-Father/Satrupa/beta.jpeg" alt="" width="380" border="2px">
   <img src="../asset/Big-Father/Satrupa/Satroopa-Jija.jpeg" alt="" width="265" border="2px">
   <h2><a href="../index.html">Home</a></h2>
</body>
</html>