<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shirish Kumar Pandey</title>
</head>
<body style="text-align:center" bgcolor="#7cdfc1">
    <h1 style="color:whitesmoke">Shirish Kumar Pandey & Sonam Shirish Pandey</h1>
    <img src="../asset/Big-Father/Shirish/shirish.jpeg" alt="" width="400" border="2px">
    <img src="../asset/Big-Father/Shirish/joint.jpeg" alt="" width="230" border="2px">
    <img src="../asset/Big-Father/Shirish/Beti.jpeg" alt="" width="280" border="2px">
   <h2><a href="../index.html">Home</a></h2>
</body>
</html>