*{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}

body{
  background-color: #7aacf8c2;
  font-family: 'Courier New', Courier, monospace;
}
.main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dadf9ec2;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  flex-wrap: wrap;
}

.main > ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
li{
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  text-decoration: none;
  /* color: black; */
}
a{
  text-decoration: none;
  color: black; 
}

h1{
  text-align: center;
  padding: 20px;
}

.product{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product > button{
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  outline: 1px 1px 0px 1px rgb(185, 185, 211);
  background-color: hsl(286, 79%, 72%);
  color: #fff;
  border: 1px solid transparent;
}
li:hover, a:hover,button:hover{
    cursor: pointer;
    background-color: #333;
    color: #fff;
  }