*{
    margin: 0;
    padding: 0;
}
.title{
    margin-top: 30px;
    text-align: center;
}
div{
    margin-left: 10px;
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    /* animation-name: square;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-play-state: running; */
    animation: square 10s linear 1s infinite alternate backwards running;
}
/* @keyframes square {
    from{
        background-color: darkblue;
    }
    to{
        background-color: darkgreen;
    }
} */

@keyframes square {
    0%{
        background-color: darkred;
        left: 0px;
        top: 0px;
    }
    25%{
        background-color: darkblue;
        left: 400px;
        top: 0px;
    }
    50%{
        background-color: black;
        left: 900px;
        top: 350px;
        border-radius: 50%;
    }
    75%{
        background-color: yellow;
        left: 0px;
        top: 350px
    }
    100%{
        background-color: darkgreen;
        left: 0px;
        top: 0px;
    }
}