*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.281);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    width: 100%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items:  center;
}
header p{
    margin: 0 auto;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    font-family: cursive;
    color: azure;
}
.search{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.searchBox{
    color: azure;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: system-ui;
    width: 70%;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.555);
    box-shadow: 0px 0px 20px 0px rgba(125, 188, 243, 0.582);
}
#searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 15px 35px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(125, 188, 243);
    color: azure;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(125, 188, 243, 0.582);
}
#searchBtn:hover{
    background-color: rgb(97, 155, 204);
}
