<!DOCTYPE html>
<html lang="en">
<head>
   <title>Abhilasha Ravi Garg</title>
</head>
<body style="text-align: center" bgcolor="#ca07a2">
   <h1 style="color:whitesmoke">Abhilasha Ravi Garg</h1> <br>

   <img src="../asset/Buaa-Fufa Ji/Abhilasha/abhilasha-2.jpeg" alt="" width="220px" border="2px">
   <img src="../asset/Buaa-Fufa Ji/Abhilasha/abhilasha-3.jpeg" alt="" width="220px" border="2px">
   <img src="../asset/Buaa-Fufa Ji/Abhilasha/abhilasha-4.jpeg" alt="" width="150px" border="2px">
   <img src="../asset/Buaa-Fufa Ji/Abhilasha/abhilasha.jpeg" alt="" width="220px" border="2px">
   <img src="../asset/Buaa-Fufa Ji/Abhilasha/jija.jpeg" alt="" width="220px" border="2px">
   <img src="../asset/Buaa-Fufa Ji/Abhilasha/jija-didi.jpeg" alt="" width="500px" border="2px">
   <img src="../asset/Buaa-Fufa Ji/Abhilasha/joint-2.jpeg" alt="" width="500px" border="2px">

   <br><br>
   <h2><a href="../index.html">Home</a> | <a href="../component/Abhilasha-Bachhe.html">Children</a></h2>
</body>
</html>