<!DOCTYPE html>
<html lang="en">
<head>
    <title>Abhilasha children</title>
</head>
<body style="text-align: center" bgcolor="#dcc005">
    <h1 style="color:whitesmoke">Abhilasha 2 children</h1>
    <img src="../asset/Buaa-Fufa Ji/Abhilasha/beta-1.jpeg" alt="" width="250px" border="2px">
    <img src="../asset/Buaa-Fufa Ji/Abhilasha/beta-2.jpeg" alt="" width="250px" border="2px">
    <img src="../asset/Buaa-Fufa Ji/Abhilasha/beta.jpeg" alt="" width="410px" border="2px">
    <img src="../asset/Buaa-Fufa Ji/Abhilasha/chhota beta.jpeg" alt="" width="250px" border="2px">
    <br><br>
    <h2><a href="../component/Abhilasha-Ravi-Agnihotri.html">Back</a> | <a href="../index.html">Home</a></h2> 
</body>
</html>