<!DOCTYPE html>
<html lang="en">
<head>
      <title>Archana Childran</title>
</head>
<body style="text-align:center" bgcolor="#9302e1">
    <h1 style="color:whitesmoke">Archana Dinesh Garg - Childran</h1>
    <img src="../asset/Big-Father/Archna/beta-2.jpeg" alt="" width="200" border="2px">
    <img src="../asset/Big-Father/Archna/beti 2-3.jpeg" alt="" width="200" border="2px">
    <img src="../asset/Big-Father/Archna/beti 3.jpeg" alt="" width="200" border="2px">
    <img src="../asset/Big-Father/Archna/beti-4.jpeg" alt="" width="200" border="2px">
    <img src="../asset/Big-Father/Archna/beta.jpeg" alt="" width="200" border="2px">
    <h2><a href="../component/Archana-dinesh-garg.html">Back</a> | <a href="../index.html">Home</a></h2>    
</body>
</html>