<!DOCTYPE html>
<html lang="en">
<head>
     <title>Dadi G</title>
</head>
<body style="text-align:center" bgcolor="lightpink">
    <h1 style="color:whitesmoke">Pyari Bai Pandey</h1><br>
    <img src="../asset/Dada-Dadi/1000262142.png" alt="" width="200" border="2px">
    <p>Grandmother is the heart of the home — a gentle soul with endless love and wisdom. Her presence brings warmth, peace, and a sense of belonging that no one else can replace. She is our first teacher, our biggest supporter, and the one whose love knows no limits. <br>
        <br>
        Her lap is a world of comfort, where every sorrow disappears. The stories she tells, filled with morals and imagination, remain etched in our hearts forever. Through her words, we not only learn about the past, but also the values that shape our future. <br>
        <br>
        Dadi Ji’s hands may be wrinkled, but they carry years of care, sacrifice, and strength. She works quietly behind the scenes, making sure everyone is cared for — with a soft word, a warm meal, or a comforting touch. <br>
        <br>
        Her prayers protect us, her smile encourages us, and her lessons stay with us for life. Dadi Ji is the soul of our traditions — a living bridge between generations, keeping the roots of our family strong. <br>
        
        </p> <br>
        <h2><a href="../index.html">Home</a></h2>
</body>
</html>